<div class="footer">
  <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">


  <!-- Section: Links  -->
  <section class="">
    <div class="container">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4 ">
          <!-- Content -->
           <div class="footer-left">
            <div class="alininologo">
            <img class="footer-logo" src="./img/alininologo.png" alt="">
          </div>
          <div class="footer-contact">
            <div class="footer-number">
              <a href="#">(+99451) 012 34 56</a>
              <p>Telefonla ele indice sifaris edin!</p>
              <a href="#">(+99451) 012 34 56</a>
            
              <a href="#">(+99451) 012 34 56</a>
              
              <button>zeng sifarisi</button>
            </div>
            <div class="footer-email">
              <i class="fa-solid fa-envelope" style="color: #fe0101;"></i>
              <a href="#">info@alinino.az</a>
            </div>
            <div class="footer-clock">
              <i class="fa-regular fa-clock " style="color: #fe0101;"></i>
              <a  href="#">Biz həftənin 7 günü, saat 9:00 - 20:00 qədər çatdırılma edirik.</a>
            </div>
            <div class="footer-whatsapp">
              <i class="fa-brands fa-whatsapp" style="color: #36f793;"></i>
              <a href="#">Whatsapp</a>
            </div>
            

           </div>
           </div>
           
          
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 ">
          <!-- Links -->
          <div class="footer-center">
            <h2>Haqqimizda</h2>
            <a href="#">Əlaqə və Ünvanlar</a>
            <a href="#">Xəbərlər</a>
            <a href="#">Bloq</a>
            <a href="#">Bizdən kitab tovsiyyəsi</a>
            <a href="#">"Əli və Nino" nəşriyyatı</a>
            <a href="#">Gizlilik siyasəti</a>
            <a href="#">Sifarişimi qaytarmaq (dəyişmək) istəyirəm</a>
            <a href="#">Pulsuz dənəmə nədir?</a>
            <a href="#">Geyimlərin rahat qaytarılması</a>
            <a href="#">Pulsuz çatdırılma fürsəti</a>
            <a href="#">Sifarişi necə etmək?</a>
            <a href="#">Promokodu necə istifadə etməli?</a>
            <a href="#">Bölgələrdən sifariş etmək qaydası</a>
            <a href="#">"Özün götür" xidməti nədir?</a>
           </div>
        </div>
  
        <div class="col-md-4  footer-right">
          <!-- Links -->
          <h2>Magaza haqqinda</h2>
          <p>Alinino.az saytı</p>
          <p>Alinino.az saytı 15 ildən çoxdur ki, Azərbaycanda operativ satış və çatdırılma xidməti göstərən onlayn satış mağazasıdır.
Azərbaycanın bütün rayon və şəhərlərinə, Bakıda və dünyanın bütün ölkələrindəki bütün ünvanlara çatdırılmanı həyata keçirir. </p>
          <p>Whatsap: (+99451) 312 24 40 <br> Tel: (+99412) 431 40 67" <br>Əli və Nino" Kitab Mağazaları Şəbəkəsi Azərbaycanda 2005-ci ildən fəaliyyət göstərən ən böyük  kitab və oyuncaqlar şəbəkəsidir. <br> Markanın sahibi və icraçı direktoru xanım Nigar Köçərlidir. <br>E-mail: info@alinino.az</p>

          <h2>Sosial şəbəkələrdə biz</h2>
          <i class="fa-brands fa-facebook-f social" style="color: #063c98;"></i>
          <i class="fa-brands fa-instagram social" style="color: #6c22f7;"></i>
          <i class="fa-brands fa-youtube social" style="color: #ff0000;"></i>
          <i class="fa-brands fa-x-twitter social" style="color: black;"></i>
          <i class="fa-brands fa-telegram social" style="color: #3fa2ee;"></i>
          <i class="fa-brands fa-pinterest social" style="color: #ff0000;"></i>
            <div class="qrcodes">
              <div class="android">
            <h6>Android</h6>
            <img class="qrkod" src="./img/qrkodand.png" alt="">
          </div>
          <div class="ios">
            <h6>Apple(iOS)</h6>
            <img class="qrkod" src="./img/Apple.png" alt="">
          </div>
            </div>
          
        </div>
        
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class=" p-4 footer-end" >
    © 2010-2025 Alinino.az. "Ali&Nino" LLC .
    <a class="text-reset fw-bold" href="">Sayt.xeritesi</a> <br>
    hazirlanmisdir. <a class="text-reset fw-bold" href="">ProSales</a> platforma ucun <a class="text-reset fw-bold" href="">InSales</a>

    
  </div>
  <div class="payment">
    <img class="million" src="./img/payment-million.svg" alt="">
    <img class="visa" src="./img/payment-visa.svg" alt="">
    <img class="master" src="./img/payment-mastercard.svg" alt="">
    <img class="mir" src="./img/payment-mir.svg" alt="">

   </div>
  <!-- Copyright -->
   
</footer>
<!-- Footer -->
</div>