{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div class="breadcrumb-items">
    <li class="breadcrumb-item"><a class="breadcrumb-home" href="{% url 'core:home' %}">Əsas</a></li>
    <li class="breadcrumb-item " aria-current="page">Tədbirlər</li>
  </ol>
  </div>
</nav>
    <div class="news-page">
     
        <div class="news-date">
            <p class="date">{{events.date}}</p>
        </div>
        <h1 class="news-page-title">{{events.title}}</h1>
        <div class="">
            <p class="news-page-text">{{ events.description }}</p>
            <img src="{{events.image.url}}" alt="">
        </div>
        
      
        <h1 class="news-page-title">Digər paylaşımlar</h1>
        <div style="max-width: fit-content;margin-right: 100px;" class="container">
          <div class="row">

        {% for event in eventss %}
        <div class="col-md-4">
        <div class="other-posts">
  <div class="news-card news2">
    <div class="new-div">
    <a href="{% url 'core:event_page' event.id%}">
      <img class="news-img" src="{{event.image.url}}" alt="">
      <div class="news-text">
      <h5 class="news-title">{{event.title}}</h5>
      <p class="news-description"> {{event.text}}</p>
      </div>

    </a>
     </div>
  </div>
  
        </div>
        </div>
        {% endfor %}
        </div>
        </div>
    </div>

{% endblock %}
