{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div class="breadcrumb-items">
    <li class="breadcrumb-item"><a class="breadcrumb-home" href="{% url 'core:home' %}">Əsas</a></li>
    <li class="breadcrumb-item " aria-current="page">Kataloq</li>
  </ol>
  </div>
</nav>
     <div class="collapse-title">
            <h4 class="category-title">Yeni Turk nəşrləri</h4>
            <p class="quantity">{{tr_products.count}} məhsul</p>
        </div>
        <div class="filtr-page">
    <div class="part1 filter">
       <a class="category-name" href="#">Yeni Turk nəşrləri</a>
       <br>
       <div class="filtr-card">
        
       
       <a class="filter-item" href="#">Mövcud olan məhsullar</a>
       
        <a class="filter-item" href="#">Qiymət,  AZN</a>

       <div class="accordion" id="accordionExample">
  
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn2 btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Müəllif
        </button>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-check">
  <a href="?author=budak"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    Beyhan Budak
  </label></a>
</div>
        <div class="form-check">
  <a href="?author=rauf"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    Mehmet Rauf
  </label></a>
</div>
        <div class="form-check">
  <a href="?author=wolf"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    Christa Wolf
  </label></a>
</div>
<div class="form-check">
  <a href="?author=ozgur"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    Özgür Taburoğlu
  </label></a>
</div>
       

        

      </div>
    </div>
  </div>
  <!-- <div class="card">
    <div class="card-header" id="heading3">
      <h2 class="mb-0">
        <button class="btn btn2 btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
          Dil
        </button>
      </h2>
    </div>

    <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-check">
  <a href="?category=rus"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    rus
  </label></a>
</div>

      </div>
    </div>
  </div> -->
  <div class="card">
    <div class="card-header" id="heading4">
      <h2 class="mb-0">
        <button class="btn btn2 btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
          Nəşriyyatçı
        </button>
      </h2>
    </div>

    <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">
       <div class="form-check">
  <a href="?publisher=koc"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    Koç Üniversitesi Yayınları
  </label></a>
</div>
      <div class="form-check">
  <a href="?publisher=is"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    İş Bankası Kültür Yayınları
  </label></a>
</div>

      <div class="form-check">
  <a href="?publisher=kronik"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
    Kronik Kitap
  </label></a>
</div>

      </div>
    </div>
  </div>


</div>
  </div>
  {% for news in newss %}
  <div class="news-rc">
    
    <div class="article">
      <a class="news-a" href="{% url 'core:news_page' news.id%}">
        <img src="{{news.image.url}}" alt="">
        <h6>{{news.title}}</h6>
        <p>{{news.text}} </p>
      </a>
    </div>
  </div>
  {% endfor %}
    </div>
    <div class="part2">
      
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sirala
        </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'core:filtr-page-turk'%}?sort=new">Yeniliklər</a>
          <a class="dropdown-item" href="{% url 'core:filtr-page-turk'%}?sort=lower-price">Öncə aşağı qiymət</a>
          <a class="dropdown-item" href="{% url 'core:filtr-page-turk'%}?sort=higher-price">Öncə yüksək qiymət</a>
          <a class="dropdown-item" href="{% url 'core:filtr-page-turk'%}?sort=discount">Endirim məbləği ilə</a>
        </div>

<div class="products">
  <div class="container">
    <div class="row">
 {% for product in tr_products %}
      <div class="col-md-3">
        <a class="product-a" href="{% url 'core:detailed-page' product.id%}">
    <div class="book1">  
    <div class="books-list">
        <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.price }} AZN
    <span style="text-decoration: line-through;" class="sale-price">{{ product.discount_price}}AZN</span></h5>
    <p class="card-text">{{ product.title }}</p>
    <div class="rating">
  <i  class="fa-solid fa-star rate-star"></i>
   <i  class="fa-solid fa-star rate-star"></i>
    <i  class="fa-solid fa-star rate-star"></i>
     <i  class="fa-solid fa-star rate-star"></i>
      <i  class="fa-solid fa-star rate-star"></i>
      <i class="fa-solid fa-comment comment-icon">{{product.comments.all.count}}</i>
</div>


    </div>
    
  </div>
</div>
    </div>
     </a>
      </div>
        {% endfor %}
    </div>
  </div>
 
  

     </div>



<div class="filtr-text" id="learn-more-div">
  <h4>  Bakıda turk yeni kitabları Alinino.az saytından sifariş edin!</h4>
  <p>Bizim onlayn mağazamızda turk dilində yeni çap olunan bütün kitabları endirimli qiymətlə sifariş etmək mümkündür.</p>
  <p>Turk dilində klassika, biznes kitabları, psixologiya və şəxsi inkişaf kitabları, detektiv romanlar və digər yüzlərlə yeni kitabı evdən çıxmadan <br> məhz Alinino.az online mağazasından çatdırılma ilə əldə edə bilərsiniz.</p>
   <h4>Yeni kitabları niyə mütləq oxumalıyıq?</h4>
  <p> Yeni kitablar oxumaq bir çox fayda verə bilər. Yeni kitablar oxumağın bəzi müsbət təsirləri bunlardır:</p>
  <p>Biliyin genişləndirilməsi: Yeni kitablar sizə müxtəlif mövzular haqqında məlumat əldə etməyə imkan verir. Bu, özünüzü təkmilləşdirmək və daha çox bilik əldə etmək üçün əla bir yol ola bilər.</p>
  <p>Düşüncə qabiliyyətinin inkişafı: Yeni kitablar müxtəlif perspektivləri və düşüncə tərzini kəşf etməyə kömək edə bilər. Bu, düşünmə qabiliyyətinizi artıra bilər.</p>
  <p>Söz bazasının genişləndirilməsi: Yeni kitablar oxuyarkən yeni sözlər öyrənmək imkanınız ola bilər. Bu, söz ehtiyatınızı zənginləşdirir və ünsiyyət bacarıqlarınızı artırır.</p>
  <p>Empatiyanın inkişafı: Romanlar və hekayələr müxtəlif personajların həyatını anlamaq imkanı verir. Bu, empatiyanızı yaxşılaşdırır və insan münasibətlərinizdə daha anlayışlı olmağa kömək edə bilər.</p>  
  <p>Diqqətin inkişafı: Kitab oxumaq diqqət və diqqət bacarıqlarını inkişaf etdirə bilər. Bir kitabı bitirmək üçün uzun müddət diqqətinizə ehtiyacınız ola bilər.</p>
  <p>Əyləncə və həzz: Yeni kitablar oxumaq təkcə faydalı deyil, həm də zövqlü ola bilər. Yaxşı bir kitab sizi müxtəlif dünyalara daşıya bilər və darıxdırıcı vaxtları daha maraqlı edə bilər.</p>
  <p>Artan Yaradıcılıq: Xüsusilə bədii əsərlər sizin təxəyyülünüzü və yaradıcılığınızı stimullaşdıra bilər. Hekayələr və personajlar öz düşüncənizi genişləndirməyə kömək edə bilər.</p>
  <p>Mənəvi İnkişaf: Bəzi kitablar şəxsi inkişaf və mənəvi inkişafla bağlı təlimat verə bilər. Bu tip kitablar özünüzü daha yaxşı başa düşməyə və həyatınızı yaxşılaşdırmağa kömək edə bilər</p>
  <p>Düşüncə müxtəlifliyi: Fərqli yazıçıların fərqli düşüncə tərzi və perspektivləri var. Buna görə də, yeni kitablar oxumaq düşüncə müxtəlifliyini təşviq edir və zəngin intellektual təcrübə təmin edir</p>



<p>
  <button class="btn btn-primary more2" id="dont-learn-more" onclick="dontLearnMore()">
    Bağla
</button>
</p>

</div>
<button class="btn btn-primary more ml-4" id="learn-more" onclick="learnMore()">
    Daha ətraflı oxuyun
</button>

    </div>
        </div>
{% endblock %}
    









   

